@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin: 15px 0;
    line-height: 1.8;
}

.blog-text 
ul, 
ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
}

.blog-text pre {
    background: rgb(146, 64, 14);
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
}

.blog-text h1 {
    font-size: 35px;
}

.blog-text
h2,
h3 {
    font-size: 27px;
}

.blog-text h4 {
    font-size: 18px;
}

.bg-yellow-600 {
    background-color: rgb(211, 211, 9);
}

.bg-blue-600 {
    background-color: rgb(0, 0, 179);
}

.bg-green-600 {
    background-color: rgb(5, 85, 5);
}

.bg-purple-600 {
    background-color: rgb(82, 22, 82);
}

.bg-brown-600 {
    background-color: rgb(116, 65, 65);
}

.br-orange-600 {
    background-color: rgb(240, 156, 0);
}

.br-red-600 {
    background-color: rgb(255, 37, 37);
}